<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>


<nav>
    <div class="nav-wrapper teal lighten-1">
        <a href="#" class="brand-logo right">Add Reader</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="books.html" th:href="@{/books}">Books</a></li>
            <li><a href="readers.html" th:href="@{/readers}">Readers</a></li>
            <li><a href="readers.html" th:href="@{/readers/newReader}">New Reader</a></li>
        </ul>
    </div>
</nav>


<h3 class="center">Add Reader</h3>
<div class="container centre">
    <form action="#" th:action="@{/readers/newReader}" th:object="${reader}" method="post">
        <div class="input-field col s12">
            <p>Select book: <select th:field="*{bookid}">
                <option th:each="book:${books}"
                        th:value="${book.bookid}"
                        th:text="${book.name}">
            </select></p>
        </div>

        <p>Name: <input type="text" th:field="*{name}" class="mb-3"/></p>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>Date: <input type="date" th:field="*{date}"/></p>
        <p><button class="btn waves-effect waves-light" type="submit" value="Create">Create</button>
            <button class="btn waves-effect waves-light" type="reset" value="Reset">Reset</button>
        </p>
<!--        <p><input type="submit" value="Create" class="waves-effect waves-light btn"/> <input type="reset" value="Reset" class="waves-effect waves-light btn" /></p>-->
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sel = document.querySelectorAll('select');
        M.FormSelect.init(sel);
    })
</script>
</body>
</html>