<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Readers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="nav-wrapper teal lighten-1">
        <a href="#" class="brand-logo right">Readers</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="books.html" th:href="@{/books}">Books</a></li>
            <li><a href="readers.html" th:href="@{/readers}">Readers</a></li>
            <li><a href="readers.html" th:href="@{/readers/newReader}">New Reader</a></li>
        </ul>
    </div>
</nav>
<div>
    <p></p>
    <a href="add.html" th:href="@{/readers/newReader}" class="waves-effect waves-light btn-large right "><i class="material-icons left">add</i>Add</a>
</div>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Book</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reader: ${readers}">
        <td th:text="${reader.name}"></td>
        <td th:text="${reader.email}"></td>
        <td th:each ="book: ${books}"
            th:if="${reader.bookid == book.bookid}"
            th:text="${book.name}"></td>
        <td th:text="${reader.date}"></td>
        <td><a href="" th:href="@{'/readers'+'/'+${reader.id} + '/editReader'}">EDIT</a></td>
        <td><a href="" th:href="@{'/readers'+'/'+${reader.id} + '/delete'}">DELETE</a></td>
    </tr>
    </tbody>
</table>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sel = document.querySelectorAll('select');
        M.FormSelect.init(sel);
    })
</script>

</body>
</html>